.section6 {
    width: 100%;
    height: 1270px;
    background-color: #FFFFFF;
    position: relative;
}

.div1section6 {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    position: absolute;
    top: 10%;
}

.div-div1section6 {
    width: 40%;
    height: 45vh;
    margin-right: 45px;
    margin-top: 40px;
}

.section6 h2 {
    position: absolute;
    left: 39%;
    font-size: 53px;
    font-weight: bolder;
    color: rgb(197, 17, 53);
}

.div1-div1section6 {
    margin-left: 45px;
    margin-top: 40px;
    width: 40%;
    height: 40vh;
    background-image: url("img/30.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 5px 2px rgb(160, 157, 157);
}

.para1-div-div1section6 {
    font-size: 33px;
    font-weight: bolder;
    color: rgb(197, 17, 53);
    position: relative;
    bottom: 39px;
}

.para2-div-div1section6 {
    font-size: 19px;
    line-height: 43px;
    position: relative;
    bottom: 67px;
    line-height: 35px;
}

.div2section6 {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    position: absolute;
    bottom: 5%;
    height: 100vh;
}

form {
    width: 40%;
    height: 90%;
    margin-right: 270px;
    padding-right: 90px;
    margin-top: 255px;
}

.div-div2section6 {
    width: 40%;
    height: 75%;
    margin-left: 177px;
    margin-top: 350px;
    border: 1px solid #ecd3d9;
    border-radius: 20px;
    background-color: #ecd3d9;
}

label[for="confirmation"] {
    font-weight: bolder;
    font-size: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 280px;
    height: 60px;
    border-radius: 8px;
    border: 1px rgb(206, 199, 199) solid;
}

textarea {
    border-radius: 8px;
    border: 1px rgb(206, 199, 199) solid;
}

form p {
    color: rgb(153, 149, 149);
    font-size: 20px;
}

input,
textarea {
    margin: 0px 13px 22px 0px;
}

input[type="file"] {
    color: crimson;
}

input[type="submit"] {
    background-color: crimson;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: bolder;
    border: 1px crimson solid;
    border-radius: 30px;
    width: 180px;
    height: 55px;
}

.div-div2section6 h2 {
    font-size: 36px;
    font-weight: bolder;
    color: rgb(197, 17, 53);
    position: relative;
    left: 30px;
    bottom: 15px;
}

.ligne1 {
    position: relative;
    bottom: 40px;
    width: 550px;
}

.para1-div-div2section6 {
    font-weight: bolder;
    color: #000000;
    font-size: 25px;
    position: relative;
    left: 36px;
    bottom: 53px;
}

.para2-div-div2section6 {
    font-weight: bolder;
    color: crimson;
    font-size: 18px;
    position: relative;
    left: 36px;
    bottom: 60px;
}

.para3-div-div2section6 {
    color: #000000;
    font-size: 18px;
    position: relative;
    right: 165px;
    bottom: 70px;
    padding: 0px 200px 0px 200px;
}

.para4-div-div2section6 {
    font-weight: bolder;
    color: #000000;
    font-size: 25px;
    position: relative;
    left: 36px;
    bottom: 210px;
}

.para5-div-div2section6 {
    font-weight: bolder;
    color: #000000;
    font-size: 25px;
    position: relative;
    left: 36px;
    bottom: 230px;
}

.sous-div {
    width: 30%;
    height: 22vh;
    background-color: #FFFFFF;
    border: 1px #FFFFFF solid;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    left: 280px;
    bottom: 250px;
}

.fa-location-dot,
.fa-folder,
.fa-calendar,
.fa-clock {
    font-size: 18px;
    color: crimson;
    position: relative;
    left: 22px;
}

.sous-para1,
.sous-para2,
.sous-para3,
.sous-para4 {
    margin-right: 28px;
}

.fa-location-dot {
    position: relative;
    bottom: 15px;
}

.fa-folder {
    position: relative;
    top: 20px;
}

.fa-clock {
    position: relative;
    bottom: 35px;
}

.sous-para1 {
    position: relative;
    top: 5px;
}

.sous-para2 {
    position: relative;
    bottom: 17px;
    width: 80px;
}

.sous-para3 {
    position: relative;
    bottom: 30px;
}

.sous-para4 {
    position: relative;
    bottom: 52px;
}

.section6 button {
    background-color: crimson;
    border: 1px crimson solid;
    border-radius: 30px;
    width: 130px;
    height: 45px;
    position: relative;
    left: 210px;
    bottom: 220px;
}

.section6 .post {
    color: #FFFFFF;
    font-size: 17px;
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
}

.ligne2 {
    position: relative;
    bottom: 210px;
    width: 550px;
}

.ligne3 {
    position: relative;
    bottom: 230px;
    width: 550px;
}

.ligne4 {
    position: relative;
    bottom: 250px;
    width: 550px;
}

.plus1 {
    color: crimson;
    font-size: 30px;
    position: relative;
    left: 490px;
    bottom: 380px;
}

.plus2 {
    color: crimson;
    font-size: 30px;
    position: relative;
    left: 490px;
    bottom: 160px;
}

.fa-arrow-right {
    position: relative;
    left: 440px;
    bottom: 238px;
    font-size: 20px;
}

.lien-div-div2section6 {
    color: #000000;
    font-size: 21px;
    position: relative;
    left: 430px;
    bottom: 240px;
}
.h2_section7 {
    color: #d82727;
    font-size: 43px;
    font-weight: bolder;
    text-align: center;
    position: relative;
    top: 165px;
}
.section7 {
   width: 100vw;
   height: 70vh;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   align-items: center;
   margin-top: 200px;
}
.div1_div1_section7 {
    width: 200px;
    height: 200px;
    background-image: url("img/32.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    left: 230px;
 }
 .div2_div1_section7 {
    width: 200px;
    height: 200px;
    background-image: url("img/8.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    left: 230px;
 }
 .para1_div1_section7 {
    color: #000000;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
 }

 .div1_section7 {
    width: 35vw;
    height: 60vh;
 }
 .fa-quote-left {
    color: #ce0033;
    font-size: 65px;
 }

 .partenaires {
  margin: 50px;
}

.partenaires h2 {
  text-align: center;
  color: #ce0033;
  font-size: 52px;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 80px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 25px;
  width: 100%;
}

.image img{
  text-align: center;
  width: 120px;
  height: 120px;
}

img {
  max-width: 100%;
  height: auto;
  padding: 5px;
}
.sous_div2_conteneur_fabrique_mission hr {
    color: white;
}